<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>community Post</title>
    <!-- quill web editor cdn -->
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <!-- axios cdn -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <h1>community Post</h1>
    <form action="/commu/post" name="postForm" method="post">
    <label for="title">
        Title: <input type="text" name="title" id="title">
    </label><br>
    <label for="category">
        Category:  <input type="text" name="category" id="category">
    </label><br>
        <div id="editor">
        </div>
    <br>
    <label for="tag">
        Tag: <input type="text" name="tag" id="tag">
    </label>
    <button type="button" onclick="postPost()">게시글 작성</button>
    </form>
    <button class="check">check</button>
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <script>
        // let quillData = 
        // editor Quill 불러오는 코드
        let check = document.querySelector('.check');
        check.addEventListener('click', () => {
            console.log(quill.root.innerHTML);
        })

        var quill = new Quill('#editor', {
            modules : {
                toolbar : [
                    [{header: [1,2,false]}],
                    ['bold', 'italic', 'underline'],
                    ['image', 'code-block']
            ]
            },
            placeholder : '여기에 게시글을 작성해주세요',
            theme : 'snow'
        }
        );
        // Quill data axios 비동기 통신
        function postPost() {
            const form = document.forms['postForm'];

            axios({
            method: 'post',
            url: '/commu/post',
            data: { 
                title: form.title.value,
                doc: quill.root.innerHTML,
                category: form.category.value,
                tag: form.tag.value,
            }
        })
        window.location = '/commu/posts'
        }
    </script>
</body>
</html>