<body>
    <div id="wrap">
        <footer>
            <div id="wrapper">
                <div>
                <a href="/">Home</a>
                <a href="https://github.com/kdt3rdMyhalf/myhalf" target="_blank">Github</a>
            </div>
            <div>
                <span> &nbsp; &nbsp; 반쪽 팀원: 오성인, 강민선, 최재인, 문준영, 임태욱</span><br>
                <span> &nbsp; &nbsp; Copyright 2022. myhalf. All Rights Reserved.</span>
            </div>
        </footer>
    </div>
</body>
