<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      #wrap {
        min-height: 100vh;
        position: relative;
        width: 100%;
        background-color: #ffeac7;
      }

      footer {
        /* 내용물에 따라 알맞는 값 설정요구 */
        width: 100%;
        height: 100px;
        bottom: 0px;
        position: absolute;
        border-top: 1px solid #426a71;
        padding-top: 15px;
        color: #628c85;
        font-size: 11px;
        background-color: #c4ccaa;
      }
      footer a {
        display: inline-block;
        margin: 0 20px 10px 20px;
        color: #426a71;
        font-size: 11px;
      }
      footer a:visited {
        color: #808080;
      }
      footer p {
        margin-top: 0;
        margin-bottom: 0;
      }
      fotter p span {
        display: inline-block;
        margin-left: 20px;
      }
      section {
        /* footer의 height값과 동일해야함함 */
        padding-bottom: 110px;
      }
      html,
      body {
        margin: 0;
        padding: 0;
      }
    </style>
</head>
<body>
        <footer>
            <nav>
                <a href="/">Home</a>
                <a href="https://github.com/kdt3rdMyhalf/myhalf" target="_blank">Github</a>

            </nav>
                <span> &nbsp; &nbsp; 반쪽 팀원 소개: 오성인, 강민선, 최재인, 문준영, 임태욱</span><br>
                <span> &nbsp; &nbsp; 이메일 : taewook225@naver.com</span><br/>
                <span> &nbsp; &nbsp; Copyright 2022. myhalf. All Rights Reserved.</span>

        </footer>


</body>
</html>
