<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
   <link rel="stylesheet" href="/static/css/footer.css">
</head>
<body>
    <div id="wrap">
        <footer>
            <div id="wrapper">
                <div>
                <a href="/">Home</a>
                <a href="https://github.com/kdt3rdMyhalf/myhalf" target="_blank">Github</a>
            </div>
            <div>
                <span> &nbsp; &nbsp; 반쪽 팀원: 오성인, 강민선, 최재인, 문준영, 임태욱</span><br>
                <span> &nbsp; &nbsp; Copyright 2022. myhalf. All Rights Reserved.</span>
            </div>
        </footer>
    </div>

</body>
</html>
