<header>
  <img src="/static/img/logo.png" alt="" />
  <div class="userBox">
    <% if(result) { %>
    <div class="userBox">
      <img src="<%= userImg %>" alt="" width="200" />
      <a href="/user/mypage" class="mypage">마이페이지</a>
      <a href="/logout" class="logout">로그아웃</a>
    </div>
    <% } else { %>
    <!-- Modal -->
    <div class="userBox">
      <div class="signin" data-bs-toggle="modal" data-bs-target="#firstModal">
        로그인
      </div>
      <div class="login" data-bs-toggle="modal" data-bs-target="#secondModal">
        회원가입
      </div>
      <% } %>
    </div>
    <!-- Button trigger modal -->
    <div
      class="modal fade"
      id="firstModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body"><%- include("login.ejs") %></div>
          <div class="modal-footer">
            <div
              class="signin"
              data-bs-toggle="modal"
              data-bs-target="#secondModal"
            >
              회원가입
            </div>

            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
          </div>
          <!-- <div class="modal-footer"> -->
        </div>
      </div>
    </div>
  </div>

  <div
    class="modal fade"
    id="secondModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <!-- 회원가입  -->
          <%- include("signup.ejs") %>
        </div>
        <div class="modal-footer">
          <div
            class="signin"
            data-bs-toggle="modal"
            data-bs-target="#firstModal"
          >
            로그인
          </div>

          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</header>
<nav>
  <a href="/" class="navHome">홈</a>
  <a href="/commu/posts" class="navCommu">커뮤니티</a>
  <a href="/market/posts" class="navMarket">반려장터</a>
</nav>
