<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- axios cdn -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>회원가입</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- bootstrap cdn -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
</head>
    <form name="formSignup" action="/user/signup" method="POST" enctype="multipart/form-data">
        <label for="userId">ID</label>
        <input id="userId" type="email" name="userId" placeholder="E-mail 주소" required>
        <button type="button" name="userId" onclick="idCheck()">ID 중복확인</button><br/>
        <div class="idCheck"></div>
        <label for="password">Password</label>

        <input id="userPw"
        pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,16}$" title="비밀번호는 최소 8자리에서 최대 16자리까지 숫자, 영문, 특수문자 각 1개 이상 포함시켜 주세요." type="password" name="userPw" required><br/>
        <label for="passwordcheck">Password 체크</label>
        <input id="userPwCheck"
        pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,16}$" title="패스워드 불일치" type="password"  name="userPwCheck" required><br/>

        <label for="userName">userName</label>
        <input id="userName" type="text" name="userName" required><br/>
        <button type="button" name="userName" onclick="nameCheck()">유저네임 중복확인</button><br/>
        <div class="nameCheck"></div>
        <label for="userBirth">userBirth</label>
        <input id="userBirth" type="date" name="userBirth" required><br/>
        <label for="userImg">userImg</label>

        <input type="file" name="userImg" id="userImg"><br/>
        <button type="button" onclick="fileUpload()">업로드</button><br>
        <img src="" alt="" width="200">
        <button type="submit" class="btnSignup" disabled>회원가입</button>

    </form>



    <a href="/login">login</a>
    <%- include ('footer.ejs') %>

    <script>

    function signup() {
    var userPw = document.getElementById('userPw').value;
    var userPwCheck = document.getElementById('userPwCheck').value;
    

        
        if( userPw != userPwCheck ) {
        
            userPwCheck.setCustomValidity("패스워드 불일치");
        
        } 
    else{
            userPwCheck.setCustomValidity('');
            // location.href = 'login';
        }
        
    }



    
    
    
    
    // 아이디 중복 체크 axios
        function idCheck() {
            const idValue = document.querySelector('#userId').value
            if(idValue === '' || idValue.indexOf('@') === -1 || idValue.indexOf('.') === -1){
            alert('이메일 형식으로 아이디를 입력해주세요.');
            document.querySelector('#userId').value = '';
            return}

        axios({
            method: 'GET',
            url: '/signup/idcheck',
            params: { idValue: idValue }
        }).then((res) => {
            console.log(res.data.result);
            if (res.data.result === false) {
                document.querySelector('.idCheck').textContent = '아이디 사용 가능!'
                document.querySelector('.idCheck').style.color = 'green'
            }else {
                document.querySelector('.idCheck').textContent = '사용중인 아이디입니다.'
                document.querySelector('.idCheck').style.color = 'red'
            }
        });
        };

    // 유저네임 중복 체크 axios
    function nameCheck() {
            const nameValue = document.querySelector('#userName').value
            console.log(nameValue)
        if(nameValue === ''){
            alert('유저네임을 입력해주세요.');
            document.querySelector('.nameCheck').textContent = ''
            return
        };

        axios({
            method: 'GET',
            url: '/signup/namecheck',
            params: { nameValue: nameValue }
        }).then((res) => {
            console.log(res.data.result);
            if (res.data.result === false) {
                document.querySelector('.nameCheck').textContent = '유저네임 사용 가능!'
                document.querySelector('.nameCheck').style.color = 'green'
                document.querySelector('.btnSignup').removeAttribute('disabled')
            }
            else {
                document.querySelector('.nameCheck').textContent = '사용중인 유저네임입니다.'
                document.querySelector('.nameCheck').style.color = 'red'
            }
        });
    };


        function fileUpload() {
            console.log("uploading~!");
            const formData = new FormData(); // 멀티미디어 데이터는 폼데이터에 넣어서 전달
            const file = document.getElementById('userImg');
            formData.append('userImg', file.files[0]);
            console.log(formData);

            axios({
                method: "POST",
                url : '/signup/imgUpload',
                data : formData,
                headers: {
                    // 멀티미디어 파일 통신시 유의!
                    'Content-Type' : 'multipart/form-data',
                },
            })
            .then(function (res) {
                console.log(res);
                document.querySelector('img').src = res.data.path;
            })
        }

    </script>
</body>
</html>